<h1>Dashboard Page</h1>

<h2>Posts</h2>
{{#each posts as |post|}}
<div class="card border-secondary" style="max-width: 75rem;">
  <div class="card-header">
    <a href="/posts/{{post.id}}"><h3>{{post.title}}</h3></a>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
    <div class="footer text-body-secondary">Posted by {{post.user.username}} on {{post.createdAt}}</div>
  </div>
</div>
{{/each}}

<h2>Add Post</h2>
<div id="post-form" style="max-width: 75rem;">
<div class="mb-3" >
  <label for="post-title" class="form-label">Post Title</label>
  <input type="title" class="form-control" id="post-title" required>
</div>
<div class="mb-3">
  <label for="post-contents" class="form-label">Post Content</label>
  <textarea class="form-control" id="post-contents" rows="3"></textarea>
  <button type="submit" id="post-submit">Post</button>
</div>
</div>

<script src="./js/add-post.js"></script>
